@use './_primitives.scss' as *;


$font-family-primary: $typo-family-BeVietnam-Pro;
$font-body-small-regular: $typo-weight-Regular;
$font-body-small-medium: $typo-weight-Medium;
$font-body-small-semi-bold: $typo-weight-Semi-bold;
$font-body-small-bold: $typo-weight-Semi-bold;
$font-body-small-font-size: $typo-size-S;
$font-body-small-line-height: $typo-size-2XL;
$font-heading-h1-bold: $typo-weight-Bold;
$font-heading-h1-font-Size: $typo-size-11XL;
$font-heading-h1-line-height: $typo-size-17XL;
$font-body-default-regular: $typo-weight-Regular;
$font-body-default-medium: $typo-weight-Medium;
$font-body-default-semi-bold: $typo-weight-Semi-bold;
$font-body-default-bold: $typo-weight-Semi-bold;
$font-body-default-font-size: $typo-size-M;
$font-body-default-line-height: $typo-size-2XL;
$font-body-large-regular: $typo-weight-Regular;
$font-body-large-medium: $typo-weight-Medium;
$font-body-large-semi-bold: $typo-weight-Semi-bold;
$font-body-large-bold: $typo-weight-Semi-bold;
$font-body-large-font-size: $typo-size-XL;
$font-body-large-Line-height: $typo-size-4XL;
$font-heading-h2-bold: $typo-weight-Bold;
$font-heading-h2-font-Size: $typo-size-8XL;
$font-heading-h2-line-height: $typo-size-12XL;
$font-heading-h3-Bold: $typo-weight-Bold;
$font-heading-h3-font-size: $typo-size-6XL;
$font-heading-h3-line-height: $typo-size-10XL;
$font-heading-h4-bold: $typo-weight-Bold;
$font-heading-h4-font-Size: $typo-size-4XL;
$font-heading-h4-Line-height: $typo-size-7XL;
$font-heading-h5-bold: $typo-weight-Bold;
$font-heading-h5-font: $typo-size-3XL;
$font-heading-h5-Line-height: $typo-size-6XL;
$font-heading-h6-medium: $typo-weight-Medium;
$font-heading-h6-font-Size: $typo-size-2XL;
$font-heading-h6-line-height: $typo-size-4XL;