
@import './sc-variables.scss'; // Corrected path
@import './sc-mixins-type.scss'; // Corrected path

// Base styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    @include sc-typography-text-l;
    color: var(--sc-color-text-secondary);
}

// Headings

h1, h2, h3, h4, h5, h6 {
    color: var(--sc-color-text-primary);
}

h1 {
    @include sc-typography-heading-xl;
}

h2 {
    @include sc-typography-heading-l;
}

h3 {
    @include sc-typography-heading-m;
}

h4 {
    @include sc-typography-heading-s;
}

h5 {
    @include sc-typography-heading-xs;
}

h6 {
    @include sc-typography-heading-2xs;
}

// Text

p, span {
    @include sc-typography-text-l;
    color: var(--sc-color-text-secondary);

    strong {
        font-weight: var(--sc-type-weight-semi-bold);
    }
}

a {
    @include sc-typography-link-l;
    color: var(--sc-color-text-link);
    text-decoration: none;

    &:hover {
        color: var(--sc-color-text-link-hover);
        text-decoration: underline;
    }
}

em,blockquote, q, em, cite, dfn, i, cite, var, address {
	font-style: italic;
}

// Accessibility utility class
.sc-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
