/* Scale: Color Variables */

:root {
    --sc-unit-2: 2px;
    --sc-unit-4: 4px;
    --sc-unit-8: 8px;
    --sc-unit-12: 12px;
    --sc-unit-14: 14px;
    --sc-unit-16: 16px;
    --sc-unit-18: 18px;
    --sc-unit-20: 20px;
    --sc-unit-24: 24px;
    --sc-unit-26: 26px;
    --sc-unit-28: 28px;
    --sc-unit-32: 32px;
    --sc-unit-36: 36px;
    --sc-unit-40: 40px;
    --sc-unit-48: 48px;
    --sc-unit-56: 56px;
    --sc-unit-64: 64px;
    --sc-unit-72: 72px;
    --sc-unit-80: 80px;
    --sc-unit-88: 88px;
    --sc-unit-96: 96px;
    --sc-unit-104: 104px;
    --sc-unit-112: 112px;
    --sc-unit-120: 120px;
  }