/* Scale: Color Variables */

/* Primitive: Color */
:root {
  --sc-color-neutral-0: #ffffff;
  --sc-color-neutral-0-alpha-30: #ffffff4d;
  --sc-color-neutral-0-alpha-70: #ffffffb2;
  --sc-color-neutral-100: #e5e5e5;
  --sc-color-neutral-1000: #000000;
  --sc-color-neutral-1000-alpha-30: #0000004d;
  --sc-color-neutral-1000-alpha-70: #000000b2;
  --sc-color-neutral-150: #d9d9d9;
  --sc-color-neutral-200: #cccccc;
  --sc-color-neutral-250: #bfbfbf;
  --sc-color-neutral-300: #b3b3b3;
  --sc-color-neutral-350: #a6a6a6;
  --sc-color-neutral-400: #999999;
  --sc-color-neutral-450: #8c8c8c;
  --sc-color-neutral-50: #f2f2f2;
  --sc-color-neutral-500: #808080;
  --sc-color-neutral-550: #737373;
  --sc-color-neutral-600: #666666;
  --sc-color-neutral-650: #595959;
  --sc-color-neutral-700: #4c4c4c;
  --sc-color-neutral-750: #404040;
  --sc-color-neutral-800: #333333;
  --sc-color-neutral-850: #262626;
  --sc-color-neutral-900: #1a1a1a;
  --sc-color-neutral-950: #0d0d0d;

  --sc-color-brand-100: #d0d8ff;
  --sc-color-brand-200: #a9b7ff;
  --sc-color-brand-300: #8196ff;
  --sc-color-brand-400: #5a76ff;
  --sc-color-brand-500: #3355ff;
  --sc-color-brand-600: #2945ce;
  --sc-color-brand-700: #1f349d;
  --sc-color-brand-800: #16246c;
  --sc-color-brand-900: #0c133b;

  --sc-color-blue-100: #d0d8ff;
  --sc-color-blue-200: #a9b7ff;
  --sc-color-blue-300: #8196ff;
  --sc-color-blue-400: #5a76ff;
  --sc-color-blue-500: #3355ff;
  --sc-color-blue-600: #2945ce;
  --sc-color-blue-700: #1f349d;
  --sc-color-blue-800: #16246c;
  --sc-color-blue-900: #0c133b;

  --sc-color-green-100: #c4e7d0;
  --sc-color-green-200: #93d4a9;
  --sc-color-green-300: #62c081;
  --sc-color-green-400: #31ad5a;
  --sc-color-green-500: #009933;
  --sc-color-green-600: #007c29;
  --sc-color-green-700: #005e1f;
  --sc-color-green-800: #004116;
  --sc-color-green-900: #00230c;

  --sc-color-orange-100: #fce1c7;
  --sc-color-orange-200: #f9c998;
  --sc-color-orange-300: #f7b06a;
  --sc-color-orange-400: #f4983b;
  --sc-color-orange-500: #f27f0d;
  --sc-color-orange-600: #c4670b;
  --sc-color-orange-700: #954e08;
  --sc-color-orange-800: #673606;
  --sc-color-orange-900: #381d03;

  --sc-color-purple-100: #dcd0ff;
  --sc-color-purple-200: #bea9ff;
  --sc-color-purple-300: #a181ff;
  --sc-color-purple-400: #835aff;
  --sc-color-purple-500: #6633ff;
  --sc-color-purple-600: #5229ce;
  --sc-color-purple-700: #3f1f9d;
  --sc-color-purple-800: #2b166c;
  --sc-color-purple-900: #180c3b;

  --sc-color-red-100: #f9caca;
  --sc-color-red-200: #f49e9e;
  --sc-color-red-300: #f07272;
  --sc-color-red-400: #eb4646;
  --sc-color-red-500: #e61a1a;
  --sc-color-red-600: #ba1515;
  --sc-color-red-700: #8e1010;
  --sc-color-red-800: #620b0b;
  --sc-color-red-900: #350606;
}

/* Semantic: Color */
[data-theme="light"] {
  --sc-color-background-brand: var(--sc-color-brand-500);
  --sc-color-background-brand-hover: var(--sc-color-brand-600);
  --sc-color-background-brand-pressed: var(--sc-color-brand-700);
  --sc-color-background-brand-subtle: var(--sc-color-brand-100);
  --sc-color-background-disabled: var(--sc-color-neutral-100);
  --sc-color-background-hover: var(--sc-color-neutral-50);
  --sc-color-background-info: var(--sc-color-blue-500);
  --sc-color-background-info-subtle: var(--sc-color-blue-100);
  --sc-color-background-inverse: var(--sc-color-neutral-900);
  --sc-color-background-inverse-static: var(--sc-color-neutral-900);
  --sc-color-background-mono: var(--sc-color-neutral-900);
  --sc-color-background-mono-hover: var(--sc-color-neutral-800);
  --sc-color-background-mono-pressed: var(--sc-color-neutral-700);
  --sc-color-background-negative: var(--sc-color-red-500);
  --sc-color-background-negative-hover: var(--sc-color-red-600);
  --sc-color-background-negative-pressed: var(--sc-color-red-700);
  --sc-color-background-negative-subtle: var(--sc-color-red-100);
  --sc-color-background-neutral: var(--sc-color-neutral-100);
  --sc-color-background-neutral-hover: var(--sc-color-neutral-150);
  --sc-color-background-neutral-pressed: var(--sc-color-neutral-200);
  --sc-color-background-positive: var(--sc-color-green-500);
  --sc-color-background-positive-subtle: var(--sc-color-green-100);
  --sc-color-background-pressed: var(--sc-color-neutral-100);
  --sc-color-background-primary: var(--sc-color-neutral-0);
  --sc-color-background-selected: var(--sc-color-brand-100);
  --sc-color-background-subtle: var(--sc-color-neutral-50);
  --sc-color-background-system-inverse-static: var(--sc-color-neutral-0);
  --sc-color-background-system-static: var(--sc-color-neutral-1000);
  --sc-color-background-warning: var(--sc-color-orange-500);
  --sc-color-background-warning-subtle: var(--sc-color-orange-100);
  --sc-color-border-brand: var(--sc-color-brand-500);
  --sc-color-border-disabled: var(--sc-color-neutral-200);
  --sc-color-border-focus: var(--sc-color-blue-500);
  --sc-color-border-info: var(--sc-color-blue-500);
  --sc-color-border-inverse: var(--sc-color-neutral-0);
  --sc-color-border-mono: var(--sc-color-neutral-900);
  --sc-color-border-negative: var(--sc-color-red-500);
  --sc-color-border-positive: var(--sc-color-green-500);
  --sc-color-border-primary: var(--sc-color-neutral-300);
  --sc-color-border-selected: var(--sc-color-blue-500);
  --sc-color-border-subtle: var(--sc-color-neutral-100);
  --sc-color-border-warning: var(--sc-color-orange-500);
  --sc-color-icon-brand: var(--sc-color-brand-500);
  --sc-color-icon-disabled: var(--sc-color-neutral-300);
  --sc-color-icon-info: var(--sc-color-blue-500);
  --sc-color-icon-inverse: var(--sc-color-neutral-50);
  --sc-color-icon-inverse-static: var(--sc-color-neutral-50);
  --sc-color-icon-negative: var(--sc-color-red-500);
  --sc-color-icon-positive: var(--sc-color-green-500);
  --sc-color-icon-primary: var(--sc-color-neutral-900);
  --sc-color-icon-primary-static: var(--sc-color-neutral-900);
  --sc-color-icon-selected: var(--sc-color-brand-500);
  --sc-color-icon-subtle: var(--sc-color-neutral-600);
  --sc-color-icon-warning: var(--sc-color-orange-500);
  --sc-color-overlay-30: var(--sc-color-neutral-0-alpha-30);
  --sc-color-overlay-30-inverse: var(--sc-color-neutral-1000-alpha-30);
  --sc-color-overlay-30-inverse-static: var(--sc-color-neutral-1000-alpha-30);
  --sc-color-overlay-30-static: var(--sc-color-neutral-0-alpha-30);
  --sc-color-overlay-70: var(--sc-color-neutral-0-alpha-70);
  --sc-color-overlay-70-inverse: var(--sc-color-neutral-1000-alpha-70);
  --sc-color-overlay-70-inverse-static: var(--sc-color-neutral-1000-alpha-70);
  --sc-color-overlay-70-static: var(--sc-color-neutral-0-alpha-70);
  --sc-color-surface-l0: var(--sc-color-neutral-0);
  --sc-color-surface-l1: var(--sc-color-neutral-0);
  --sc-color-surface-l2: var(--sc-color-neutral-0);
  --sc-color-surface-l3: var(--sc-color-neutral-0);
  --sc-color-surface-l4: var(--sc-color-neutral-0);
  --sc-color-surface-l5: var(--sc-color-neutral-0);
  --sc-color-surface-l6: var(--sc-color-neutral-0);
  --sc-color-text-brand: var(--sc-color-brand-500);
  --sc-color-text-disabled: var(--sc-color-neutral-300);
  --sc-color-text-link: var(--sc-color-blue-500);
  --sc-color-text-link-hover: var(--sc-color-blue-600);
  --sc-color-text-link-pressed: var(--sc-color-blue-700);
  --sc-color-text-negative: var(--sc-color-red-600);
  --sc-color-text-negative-hover: var(--sc-color-red-700);
  --sc-color-text-negative-pressed: var(--sc-color-red-800);
  --sc-color-text-positive: var(--sc-color-green-600);
  --sc-color-text-primary: var(--sc-color-neutral-900);
  --sc-color-text-primary-inverse: var(--sc-color-neutral-50);
  --sc-color-text-primary-inverse-static: var(--sc-color-neutral-50);
  --sc-color-text-primary-static: var(--sc-color-neutral-900);
  --sc-color-text-secondary: var(--sc-color-neutral-800);
  --sc-color-text-secondary-inverse: var(--sc-color-neutral-100);
  --sc-color-text-secondary-inverse-static: var(--sc-color-neutral-100);
  --sc-color-text-secondary-static: var(--sc-color-neutral-800);
  --sc-color-text-selected: var(--sc-color-brand-500);
  --sc-color-text-tertiary: var(--sc-color-neutral-600);
  --sc-color-text-tertiary-inverse: var(--sc-color-neutral-200);
  --sc-color-text-tertiary-inverse-static: var(--sc-color-neutral-200);
  --sc-color-text-tertiary-static: var(--sc-color-neutral-600);
  --sc-color-text-warning: var(--sc-color-orange-700);
}

[data-theme="dark"] {
  --sc-color-background-brand: var(--sc-color-brand-400);
  --sc-color-background-brand-hover: var(--sc-color-brand-300);
  --sc-color-background-brand-pressed: var(--sc-color-brand-200);
  --sc-color-background-brand-subtle: var(--sc-color-brand-800);
  --sc-color-background-disabled: var(--sc-color-neutral-900);
  --sc-color-background-hover: var(--sc-color-neutral-800);
  --sc-color-background-info: var(--sc-color-blue-400);
  --sc-color-background-info-subtle: var(--sc-color-blue-800);
  --sc-color-background-inverse: var(--sc-color-neutral-50);
  --sc-color-background-inverse-static: var(--sc-color-neutral-900);
  --sc-color-background-mono: var(--sc-color-neutral-50);
  --sc-color-background-mono-hover: var(--sc-color-neutral-100);
  --sc-color-background-mono-pressed: var(--sc-color-neutral-200);
  --sc-color-background-negative: var(--sc-color-red-400);
  --sc-color-background-negative-hover: var(--sc-color-red-300);
  --sc-color-background-negative-pressed: var(--sc-color-red-200);
  --sc-color-background-negative-subtle: var(--sc-color-red-800);
  --sc-color-background-neutral: var(--sc-color-neutral-800);
  --sc-color-background-neutral-hover: var(--sc-color-neutral-750);
  --sc-color-background-neutral-pressed: var(--sc-color-neutral-700);
  --sc-color-background-positive: var(--sc-color-green-400);
  --sc-color-background-positive-subtle: var(--sc-color-green-800);
  --sc-color-background-pressed: var(--sc-color-neutral-700);
  --sc-color-background-primary: var(--sc-color-neutral-900);
  --sc-color-background-selected: var(--sc-color-brand-800);
  --sc-color-background-subtle: var(--sc-color-neutral-900);
  --sc-color-background-system-inverse-static: var(--sc-color-neutral-0);
  --sc-color-background-system-static: var(--sc-color-neutral-1000);
  --sc-color-background-warning: var(--sc-color-orange-400);
  --sc-color-background-warning-subtle: var(--sc-color-orange-800);
  --sc-color-border-brand: var(--sc-color-brand-400);
  --sc-color-border-disabled: var(--sc-color-neutral-800);
  --sc-color-border-focus: var(--sc-color-blue-400);
  --sc-color-border-info: var(--sc-color-blue-400);
  --sc-color-border-inverse: var(--sc-color-neutral-800);
  --sc-color-border-mono: var(--sc-color-neutral-50);
  --sc-color-border-negative: var(--sc-color-red-400);
  --sc-color-border-positive: var(--sc-color-green-400);
  --sc-color-border-primary: var(--sc-color-neutral-700);
  --sc-color-border-selected: var(--sc-color-blue-400);
  --sc-color-border-subtle: var(--sc-color-neutral-750);
  --sc-color-border-warning: var(--sc-color-orange-400);
  --sc-color-icon-brand: var(--sc-color-brand-400);
  --sc-color-icon-disabled: var(--sc-color-neutral-700);
  --sc-color-icon-info: var(--sc-color-blue-400);
  --sc-color-icon-inverse: var(--sc-color-neutral-900);
  --sc-color-icon-inverse-static: var(--sc-color-neutral-50);
  --sc-color-icon-negative: var(--sc-color-red-400);
  --sc-color-icon-positive: var(--sc-color-green-400);
  --sc-color-icon-primary: var(--sc-color-neutral-50);
  --sc-color-icon-primary-static: var(--sc-color-neutral-900);
  --sc-color-icon-selected: var(--sc-color-brand-400);
  --sc-color-icon-subtle: var(--sc-color-neutral-600);
  --sc-color-icon-warning: var(--sc-color-orange-400);
  --sc-color-overlay-30: var(--sc-color-neutral-1000-alpha-30);
  --sc-color-overlay-30-inverse: var(--sc-color-neutral-0-alpha-30);
  --sc-color-overlay-30-inverse-static: var(--sc-color-neutral-1000-alpha-30);
  --sc-color-overlay-30-static: var(--sc-color-neutral-0-alpha-30);
  --sc-color-overlay-70: var(--sc-color-neutral-1000-alpha-70);
  --sc-color-overlay-70-inverse: var(--sc-color-neutral-0-alpha-70);
  --sc-color-overlay-70-inverse-static: var(--sc-color-neutral-1000-alpha-70);
  --sc-color-overlay-70-static: var(--sc-color-neutral-0-alpha-70);
  --sc-color-surface-l0: var(--sc-color-neutral-1000);
  --sc-color-surface-l1: var(--sc-color-neutral-950);
  --sc-color-surface-l2: var(--sc-color-neutral-900);
  --sc-color-surface-l3: var(--sc-color-neutral-850);
  --sc-color-surface-l4: var(--sc-color-neutral-800);
  --sc-color-surface-l5: var(--sc-color-neutral-750);
  --sc-color-surface-l6: var(--sc-color-neutral-700);
  --sc-color-text-brand: var(--sc-color-brand-400);
  --sc-color-text-disabled: var(--sc-color-neutral-700);
  --sc-color-text-link: var(--sc-color-blue-400);
  --sc-color-text-link-hover: var(--sc-color-blue-300);
  --sc-color-text-link-pressed: var(--sc-color-blue-200);
  --sc-color-text-negative: var(--sc-color-red-400);
  --sc-color-text-negative-hover: var(--sc-color-red-300);
  --sc-color-text-negative-pressed: var(--sc-color-red-200);
  --sc-color-text-positive: var(--sc-color-green-400);
  --sc-color-text-primary: var(--sc-color-neutral-50);
  --sc-color-text-primary-inverse: var(--sc-color-neutral-900);
  --sc-color-text-primary-inverse-static: var(--sc-color-neutral-50);
  --sc-color-text-primary-static: var(--sc-color-neutral-900);
  --sc-color-text-secondary: var(--sc-color-neutral-100);
  --sc-color-text-secondary-inverse: var(--sc-color-neutral-800);
  --sc-color-text-secondary-inverse-static: var(--sc-color-neutral-100);
  --sc-color-text-secondary-static: var(--sc-color-neutral-800);
  --sc-color-text-selected: var(--sc-color-brand-400);
  --sc-color-text-tertiary: var(--sc-color-neutral-200);
  --sc-color-text-tertiary-inverse: var(--sc-color-neutral-600);
  --sc-color-text-tertiary-inverse-static: var(--sc-color-neutral-200);
  --sc-color-text-tertiary-static: var(--sc-color-neutral-600);
  --sc-color-text-warning: var(--sc-color-orange-400);
}